@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Kaushan+Script&display=swap');

/*
* Styles for Mobile
*/

.about-circle-text {
    margin: 0;
    background-color: #1c1c1c;
    color: #F2EDDB;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    display: grid;
    align-items: center;
    border: 6px solid #C8A763;
    font-family: 'Kaushan Script';
    padding: 0;
    font-size: 2rem;
    opacity: 0;
    transition: ease-in;
    animation: fadeIn 0.5s ease-in forwards;
}

.mb-54 {
    margin-bottom: 54px;
}

.about-circle-container {
    height: 390px;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0;
    transition: ease-in;
    animation: fadeIn 0.5s ease-in forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.about-circle-container-inactive {
    height: 180px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.about-logo-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #c8a763;
    background-color: #1c1c1c;
    opacity: 0;
    transition: ease-in;
    animation: fadeIn 0.5s ease-in forwards;
}

.about-overview-header {
    color: #F2EDDB;
    position: relative;
    margin-top: 4.5rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}

.about-overview-text {
    position: relative;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1rem;
    color: #F2EDDB;
    padding-top: 90px;
    font-family: 'Karma';
    text-align: center;
}

.about-overview-logo-text {
    position: relative;
    padding: 1rem 3rem 1rem 3rem;
    font-size: 1.25rem;
    color: #F2EDDB;
    opacity: 0;
    transition: ease-in;
    animation: fadeIn 0.5s ease-in forwards;
    font-family: 'Karma';
    text-align: center;
}

@media (max-width: 992px) {
    .about-overview-header {
        margin-top: 4rem;
        font-size: 1.5rem;
    }

    .about-overview-logo-text {
        padding: 0.5rem 3rem 1rem 3rem;
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .about-overview-header {
        margin-top: 4rem;
        font-size: 1.5rem;
    }

    .about-overview-logo-text {
        padding: 0.5rem 2rem 1rem;
        font-size: 1rem;
    }

    .about-overview-text {
        padding: 1rem 2rem 1rem;
        font-size: 1rem;
        margin-top: 4.5rem;
    }
}

.about-overview-container {
    border: 6px solid #c8a763;
    border-radius: 10px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 80px;
}

.background-overlay {
    background-color: #1c1c1c;
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.about-text-container {
    z-index: 2;
    cursor: pointer;
}

/*
* Styles for Tablet
*/
@media only screen and (min-width: 768px) {

    .about-page-container{
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 30% 40% 30%;
    }

    .about-overview-header {
        font-size: 1.8rem;
    }

    .about-circle-container-inactive {
        min-height: 450px;
    }
    .about-circle-container {
        min-height: 450px;
    }
    
}

@media only screen and (max-width: 768px) {
    .about-page-container{
        display: block;
        padding: 4rem;
    }
    
}

@media only screen and (max-width: 500px) {
    .about-page-container{
        display: block;
        padding: 2rem;
    }
}

@media only screen and (max-width: 300px) {
    .about-circle-container {
        margin-bottom: 350px;
    }
}
