$primary-color: #C8A763;
$white-color: #FFFFFF;
$gray-color: #1C1C1C;
$black-color: #000000;

// BG
$main-bg: #000000;
$soft-bg: #D4AF37;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

$scrollbar-width: 6px;
$scrollbar-height: 12px;
$scrollbar-track-color: #f1f1f1;
$scrollbar-handle-color: transparent;
$scrollbar-handle-hover-color: transparent;